jupyterlab>=4
ipykernel
ipywidgets>=8
jupyterlab_widgets
# Install latest published Klotho release from PyPI.
klotho-cac
numpy
sympy
pandas
scipy
matplotlib
plotly
tabulate
networkx
rustworkx
scikit-learn
mido
IPython
